*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'tomkin-medium';
    src: url('fonts/tomkin-medium.woff2');
}
@font-face {
    font-family: 'tomkin-regular';
    src:url('fonts/tomkin-regular.woff2');
}

.header {
    background-color: #303030;
    /* background-image: url("graphics/web-back.png"); */
    padding: 25px 0;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapper a {
    text-decoration: none;
}

.logo {
    max-width: 250px;
}

.name-title {
    color: #fff;
    display: flex;
    align-items: center;
    /* text-decoration: none; */
}

.name-title:hover{
    color: aqua;
}

.header-name {
    font-family: tomkin-medium, sans-serif;
    padding: 10px;
}

.header-title {
    font-family: tomkin-regular, sans-serif;
}

/* .home-link a{
    text-decoration: none;
} */

.nav-list {
    display: flex;
}

.nav-list-item {
    list-style-type: none;
}
.nav-bar {
    color: white;
    font-family: tomkin-medium, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0 25px;
}
.nav-bar:hover{
    color: aqua;
}
.title-sub-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.title-box {
    background-color: #afafaf;
    min-height: 100vh;
    padding: 100px 0;
}

.title {
    color: #ffffff;
    font-family: tomkin-medium, sans-serif;
    font-size: 3.75rem;
    margin: 0 0 25px 0;
}

.subtitle {
    font-family: tomkin-regular, sans-serif;
    font-size: 1.75rem;
    color: #303030;
}

.footer {
    background-color: #303030;
    padding: 25px 0;
    width: 100%;
}

.footer-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.contact-title {
    padding: 3px;
    font-family: tomkin-medium, sans-serif;
}

.email {
    padding: 5px;
}

.email a {
    text-decoration: none;
    color: white;
    font-family: tomkin-regular, sans-serif;
}

.email:hover a {
    color: aqua;
}
.connect-title {
    padding: 3px;
    font-family: tomkin-medium, sans-serif;
}

.connect-link .icon {
    fill: #fff;

}

.connect-link {
    padding: 5px;
    margin-top: 10px;
}
.connect-link:hover .icon {
    fill: aqua;
}
.footer-sub-box a {
    text-decoration: none;
}

.intro {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}

.intro-upper {
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
    color: black;
    padding: 30px;
}

.intro-lower {
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
    color: black;
    padding: 30px;
}

/* Resume styles */

.edu {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.section {
    font-family: tomkin-medium, sans-serif;
}

.section-title {
    padding: 10px;
}

.copy {
    padding: 3px 0 3px 15px;
}

.copy-school {
    padding: 3px 0 3px 15px;
    color: #fff;
}
.work__title {
    color: #fff;
}
.edu__items {
    padding: 3px 0 3px 35px;
}

.work__items {
    padding: 3px 0 3px 35px;
}

.work__title-section {
    padding: 3px 0 3px 15px;
}

.resume-text {
    font-family: tomkin-medium, sans-serif;
    font-size: 3rem;
    padding: 10px;
    text-align: center;
}

.resume-pdf {
    /* padding: 3px 0 3px 15px; */
    text-align: center;
}

.resume-pdf a {
    text-decoration: none;
    color: black;
    font-family: tomkin-regular, sans-serif;
    font-size: 1.25rem;
}

.resume-pdf a:hover {
    text-decoration: none;
    color: aqua;
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
}

/* Resume Ends */

/* Contact Styles */

.contact-sub-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.contact-box {
    background-color: #afafaf;
    min-height: 100vh;
    padding: 100px 0;
}

/*  portfolio styles */
.main-heading {
    font-size: 3rem;
    font-family: tomkin-medium, sans-serif;
    text-align: center;
    padding: 10px;
}

.diff-links {
    text-decoration: none;
}
.diff-links {
    padding: 5px;
    margin-top: 10px;
}
.diff-links:hover .project-icons {
    fill: aqua;
}
.project-icons {
    height: 24px;
    width: 24px;
}
.projects {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* align-items: center;
    display: flex;
    justify-content: space-between; */
}
.project-images {
    filter: blur(3px) grayscale(80%);
    max-width: 700px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}
.project-images:hover{
    filter: none;
}
.project-title {
    font-size: 2rem;
    font-family: tomkin-medium, sans-serif;
    padding: 5px 10px;
    margin: 5px 0 5px 0;
    text-align: center;
}
.projects-details {
    /* background-color: #303030; */
    background-image: url("graphics/web-back.png");
    /* filter: drop-shadow(0 0 0.75rem crimson); */
    filter: drop-shadow(0 0 0.75rem aqua);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}
.project-text {
    font-size: 1.5rem;
    font-family: tomkin-regular, sans-serif;
}
.project-box {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #afafaf;
    /* max-width: 600px; */
    /* width: 100%; */
    margin: 0 50px 10px 50px;
    /* display: flex;
    align-items: center; */
}
.tool-box {
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: #afafaf;
    align-items: center;
}
.tools-used {
    display: flex;
    align-items: center;
    font-family: tomkin-medium, sans-serif;
}
.tools-text{
    padding: 5px 15px;
    font-family: tomkin-regular, sans-serif;
}
.repo-box {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #afafaf;
}

/* contact page */

.message-text {
    font-family: tomkin-medium, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.contact-email a {
    text-decoration: none;
    color: white;
    font-family: tomkin-regular, sans-serif;
    font-size: 1.5rem;
    padding: 40px 5px;
}

.contact-email:hover a {
    color: aqua;
}

.contact-connect-title {
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
    padding: 3px;
    margin: 10px 10px 10px 0;
}
.contact-connect-link .follow-icon {
    fill: #fff;
}
.contact-follow-links {
    padding: 30px 5px;
}

.contact-connect-link {
    padding-right: 10px;
    margin: 10px 10px 0 0;
    text-decoration: none;
}
.contact-connect-link:hover .follow-icon {
    fill: aqua;
}


/* mob nav */
.mob-navbar {
    display: none;
}
.ham{  
    display:none;
}  
.nav-sub {
    display: none;
}
.bar1,.bar2,.bar3{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#000000;  
    transition: 0.4s;  
}
/* body {
    overflow-x: hidden;
} */
@media screen and (max-width:900px){ 

    .nav-list {
        display: none;
    }
    .nav-sub{  
        font-family: tomkin-medium, sans-serif;
        position:fixed; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 130px 0 0 0; 
        /* background-image: url("graphics/web-back.png");  */
        /* background-color: rgb(80, 14, 14); */
        background-color: rgb(218, 218, 218);
        transition:transform 0.3s ease-in;  
        transform:translate(100%); 
        list-style-type: none; 
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: 100;
    }

    .nav-sub a {
        color: rgb(0, 0, 0);
        display: block;
        font-size: 1.5rem;
        text-align: center;
        padding: 30px;
    }

    .nav-sub:hover a {
        color: aqua;
    }

    .mob-navbar {
        display: block;
    }

    .nav-change{  
        transform:translate(0%);  
    }  

    .nav-sub {
        display: block;
    }

    .ham{  
        display:block;
        padding: 20px;
    }  

    .change .bar1 {  
        transform: rotate(45deg) translate(8px,3px);
        color: #000000;
   }  

    .change .bar2 {  
        opacity: 0; 
        color: #000000;
   }  

    .change .bar3 {  
        transform: rotate(-45deg) translate(8px,-3px);
        color: #000000;
   }  


}

/*  digitlal art portfolio pieces*/

.project-images-digital {
    filter: blur(3px) grayscale(80%);
    max-width: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}
.project-images-digital:hover{
    filter: none;
}
.projects-details-digital {
    /* background-color: #303030; */
    background-image: url("graphics/web-back.png");
    /* filter: drop-shadow(0 0 0.75rem crimson); */
    filter: drop-shadow(0 0 0.75rem aqua);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}
.image-box-digital {
    text-align: center;
}