*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'tomkin-medium';
    src: url('fonts/tomkin-medium.woff2');
}
@font-face {
    font-family: 'tomkin-regular';
    src:url('fonts/tomkin-regular.woff2');
}

.header {
    background-color: #303030;
    padding: 25px 0;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wrapper a {
    text-decoration: none;
}

.logo {
    max-width: 250px;
}

.name-title {
    color: #fff;
    display: flex;
    align-items: center;
    /* text-decoration: none; */
}

.header-name {
    font-family: tomkin-medium, sans-serif;
    padding: 10px;
}

.header-title {
    font-family: tomkin-regular, sans-serif;
}

/* .home-link a{
    text-decoration: none;
} */

.nav-list {
    display: flex;
}

.nav-list-item {
    list-style-type: none;
}
.nav-bar {
    color: white;
    font-family: tomkin-medium, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0 25px;
}
.title-sub-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.title-box {
    background-color: #afafaf;
    min-height: 100vh;
    padding: 100px 0;
}

.title {
    color: #ffffff;
    font-family: tomkin-medium, sans-serif;
    font-size: 3.75rem;
    margin: 0 0 25px 0;
}

.subtitle {
    font-family: tomkin-regular, sans-serif;
    font-size: 1.75rem;
    color: #303030;
}

.footer {
    background-color: #303030;
    padding: 25px 0;
    width: 100%;
}

.footer-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.contact-title {
    padding: 3px;
    font-family: tomkin-medium, sans-serif;
}

.email {
    padding: 5px;
}

.email a {
    text-decoration: none;
    color: white;
    font-family: tomkin-regular, sans-serif;
}
.connect-title {
    padding: 3px;
    font-family: tomkin-medium, sans-serif;
}

.connect-link {
    padding: 5px;
    margin-top: 10px;
}
.connect-link:hover .icon {
    fill: aqua;
}
.footer-sub-box a {
    text-decoration: none;
}

.intro {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}

.intro-upper {
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
    color: black;
    padding: 30px;
}

.intro-lower {
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
    color: black;
    padding: 30px;
}

/* Resume styles */

.edu {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.section {
    font-family: tomkin-medium, sans-serif;
}

.section-title {
    padding: 10px;
}

.copy {
    padding: 3px 0 3px 15px;
}

.copy-school {
    padding: 3px 0 3px 15px;
    color: #fff;
}
.work__title {
    color: #fff;
}
.edu__items {
    padding: 3px 0 3px 35px;
}

.work__items {
    padding: 3px 0 3px 35px;
}

.work__title-section {
    padding: 3px 0 3px 15px;
}

.resume-text {
    font-family: tomkin-medium, sans-serif;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
}

.resume-pdf {
    /* padding: 3px 0 3px 15px; */
    text-align: center;
}

.resume-pdf a {
    text-decoration: none;
    color: black;
    font-family: tomkin-regular, sans-serif;
    font-size: 1.25rem;
}

.resume-pdf a:hover {
    text-decoration: none;
    color: #fff;
    font-family: tomkin-medium, sans-serif;
    font-size: 1.5rem;
}

/* Resume Ends */

/* Contact Styles */

.contact-sub-box {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}
.contact-box {
    background-color: #afafaf;
    min-height: 100vh;
    padding: 100px 0;
}

/*  portfolio styles */
.main-heading {
    font-size: 3rem;
    font-family: tomkin-medium, sans-serif;
    text-align: center;
}

.diff-links {
    text-decoration: none;
}
.diff-links {
    padding: 5px;
    margin-top: 10px;
}
.diff-links:hover .project-icons {
    fill: aqua;
}
.project-icons {
    height: 24px;
    width: 24x;
}
/* .projects {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
} */
.project-images {
    width: 100%;
}
.project-title {
    font-size: 2rem;
    font-family: tomkin-medium, sans-serif;
}
.project-text {
    font-size: 1.5rem;
    font-family: tomkin-regular, sans-serif;
}
.tools-used {
    display: flex;
    align-items: center;
}
.tools-text{
    padding: 5px 15px;
}